<div class="track"
  data-stream-url="<%= track.stream_url %>"
  style="background-image: url('<%= track.cover_url %>')">
  <span class="iconic play"></span>
  <span class="iconic pause"></span>
</div>