<div
  id="track_<%= track.id %>"
  class="track"
  draggable="true"
  data-url="<%= track_url(track) %>"
  data-stream-url="<%= track.stream_url %>"
  style="background-image: url('<%= track.cover_url %>')">
  <span class="iconic play"></span>
  <span class="iconic pause"></span>
  <span class="iconic trash_stroke" data-action="delete"></span>
</div>