<h1>Discover music listened by other swag users !</h1>

<section class="users">
  <% for user in @users %>
    <%= link_to user.name, user %> <span class="track-count">(<%= user.tracks.count %> tracks)</span><br/>
  <% end %>
</section>
