<section class="players">
  <% if @players.empty? %>
    <h1>Copy an official.fm URL and then, click the button below to paste it !</h1>
  <% end %>
  <% for player in @players %>
    <div class="player" data-stream-url="<%= player.stream_url %>">
      <img src="<%= player.cover_url %>"></img>
      <audio controls="controls">
        <source src="<%= player.stream_url.sub('api.', 'cdn.').sub('/tracks', '/cdn/tracks') %>" type="audio/mp3" />
        Your browser does not support the audio tag.
      </audio>
    </div>
  <% end %>

  <div class="new">
    <a href="javascript:void(0)" id="add_player" class="iconic plus_alt"></a>
  </div>
</section>

<form id="create_player" action="<%= players_path %>" method="POST">
  <input type="hidden" value="" name="player[url]" />
</form>
