<section class="covers">
  <% if @players.empty? %>
    <h1>Copy an official.fm URL and then, click the button below to paste it !</h1>
  <% end %>

  <% for player in @players %>
    <img class="cover" src="<%= player.cover_url %>" data-stream-url="<%= player.stream_url %>">
    </img>
  <% end %>

  <div class="new">
    <a href="javascript:void(0)" id="add_player" class="iconic plus_alt"></a>
  </div>

  <audio controls="controls" id="player" class="hidden"></audio>
</section>

<form id="create_player" action="<%= players_path %>" method="POST">
  <input type="hidden" value="" name="player[url]" />
</form>
