<section class="tracks">
  <%= render @user.favorites %>

  <% if current_user == @user %>
    <% if @user.favorites.empty? %>
      <div class="blank slate">
        Copy a URL from a track hosted on Official.fm or Soundcloud.com, then click on the plus button below to paste it !
      </div>
    <% end %>
  <% end %>

  <% if @user.favorites.empty? && @user != current_user %>
    <h2>Too bad ... that user doesn't have any favorites yet :-(</h2>
  <% end %>
</section>
