body {
  background-color: #000;
  color: #CCC;
  font-family: Helvetica, Arial, Sans-serif;
}

.tracks {
 margin: 50px auto;
 width: 960px;
}

.track {
  float: left;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.track .iconic { display: none; }
.track.playing .pause { display: block; }
.track.paused .play { display: block; }

.track:hover .play { display: block; }
.track:hover .move { display: block; }
.track:hover .trash_stroke { display: block; }
.track.playing:hover .play { display: none; }

.track .iconic {
  font-size: 2em;
  color: #000;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 5em;
  background: rgba(200, 200, 200, .8);
  opacity: 0.8;
}

.track:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #111;
}


footer section.controls {
  margin-left: 20px;
  font-size: 2em;
  color: #555;
  vertical-align: middle;
}

footer section.controls .iconic {
  margin: 5px;
}

footer section.controls .iconic:hover {
  cursor: pointer;
  color: #333;
}
