body {
  background-color: #0C0C0C;
  color: #AAA;
  font-family: Helvetica, Arial, Sans-serif;
  margin: 0;
}

a { color: #AAA; }
a:hover { color: #888; }
a:active { color: #666; }

.tracks {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 40px;
  overflow: auto;
  overflow-x: hidden;
}

.track {
  position: relative;
  margin: 0;
  float: left;
  background: no-repeat;
  background-size: 200px 200px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

.track.paused, .track.playing {
  -moz-box-shadow: 0px 0px 40px 10px #000000;
  -webkit-box-shadow: 0px 0px 40px 10px #000000;
  -o-box-shadow: 0px 0px 40px 10px #000000;
  box-shadow: 0px 0px 40px 10px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=40);
  z-index: 50;
}

.track:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=1.1, M12=-0, M21=0, M22=1.2);
  -moz-box-shadow: 0px 0px 40px 10px #000000;
  -webkit-box-shadow: 0px 0px 40px 10px #000000;
  -o-box-shadow: 0px 0px 40px 10px #000000;
  box-shadow: 0px 0px 40px 10px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=40);
  z-index: 100;
}

.track .iconic { display: none }

.track.paused .play { display: block; }
.track.playing .pause { display: block; }

.track:hover .iconic { display: block; cursor: pointer; }
.track:hover .pause { display: none; }

.track.playing:hover .play { display: none; }
.track.playing:hover .iconic.pause { display: block; }
.track .iconic.move:hover { cursor: move; }

.track .iconic {
  font-size: 2em;
  color: #656565;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 5em;
  margin-right: -5px;
  border: 1px solid #ccc;
  background: rgba(240, 240, 240, .9);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.track .iconic:hover {
  color: #333;
  background: rgba(250, 250, 250, 1);
}

.track .iconic:active {
  color: #222;
  background: rgba(160, 160, 160, 1);
}

.track .primary.controls {
  /* TODO: Hackish center */
  width: 64px;
  height: 64px;
  top: 68px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.track .secondary.controls {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
  width: 100%;
}

.track .secondary.controls .iconic {
  float: right;
  margin: 2px;
}

.track .secondary.controls a.iconic { text-decoration: none; }

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #656565;
  background: #3d3d3d; /* Old browsers */
  background: -moz-linear-gradient(top, #3d3d3d 0%, #111111 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#111111)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d3d3d 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d3d3d 0%,#111111 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d3d3d 0%,#111111 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3d3d3d 0%,#111111 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

  -moz-box-shadow: 0px 0px 20px 0px #000;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
  -o-box-shadow: 0px 0px 20px 0px #000;
  box-shadow: 0px 0px 20px 0px #000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=NaN, Strength=20);
}

footer a {
  text-decoration: none;
}

footer section.controls {
  float: left;
  color: #555;
  vertical-align: middle;
}

footer section.controls .iconic {
  font-size: 1.6em;
  padding-left: 10px;
  text-shadow: 0px -1px 0px #111111;
  filter: dropshadow(color=#111111, offx=0, offy=-1);
}

footer a {
  color: #656565;
}

footer a.active,
footer a.active:hover,
footer a.active:active {
  color: #fff;
}

footer section.info {
  margin-left: 10px;
  float: left;
}

footer section.settings a {
  padding-right: 10px;
  text-shadow: 0px -1px 0px #111111;
  filter: dropshadow(color=#111111, offx=0, offy=-1);
}

footer section.controls .iconic {
  margin: 0 5px;
}

footer a:hover,
footer .iconic:hover {
  cursor: pointer;
  color: #a0a0a0;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0, offy=1);
}

footer a:active,
footer .iconic:active {
  color: #8c8c8c;
}

footer section.settings {
  float: right;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background-color: #111; }
::-webkit-scrollbar-thumb { background-color: #222; }

.blank.slate {
  margin: auto;
  margin-top: 10%;
  width: 80%;
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
}

.track {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* TODO: Overlap track cover. */
#youtube-player {
  position: absolute;
  top: -720px;
}

@media (min-width: 200px) {
  .track {
    width: 50%;
  }
}
@media (min-width: 400px) {
  .track {
    width: 33.33333%;
  }
}
@media (min-width: 600px) {
  .track {
    width: 25%;
  }
}
@media (min-width: 800px) {
  .track {
    width: 20%;
  }
}
@media (min-width: 1000px) {
  .track {
    width: 16.66667%;
  }
}
@media (min-width: 1200px) {
  .track {
    width: 14.28571%;
  }
}
@media (min-width: 1400px) {
  .track {
    width: 12.5%;
  }
}
@media (min-width: 1600px) {
  .track {
    width: 11.11111%;
  }
}
@media (min-width: 1800px) {
  .track {
    width: 10%;
  }
}
@media (min-width: 2000px) {
  .track {
    width: 9.09091%;
  }
}
@media (min-width: 2200px) {
  .track {
    width: 8.33333%;
  }
}
@media (min-width: 2400px) {
  .track {
    width: 7.69231%;
  }
}
@media (min-width: 2600px) {
  .track {
    width: 7.14286%;
  }
}
@media (min-width: 2800px) {
  .track {
    width: 6.66667%;
  }
}
@media (min-width: 3000px) {
  .track {
    width: 6.25%;
  }
}
@media (min-width: 3200px) {
  .track {
    width: 5.88235%;
  }
}
@media (min-width: 3400px) {
  .track {
    width: 5.55556%;
  }
}
@media (min-width: 3600px) {
  .track {
    width: 5.26316%;
  }
}
@media (min-width: 3800px) {
  .track {
    width: 5%;
  }
}
@media (min-width: 4000px) {
  .track {
    width: 4.7619%;
  }
}
@media (min-width: 4200px) {
  .track {
    width: 4.54545%;
  }
}
@media (min-width: 4400px) {
  .track {
    width: 4.34783%;
  }
}
@media (min-width: 4600px) {
  .track {
    width: 4.16667%;
  }
}
@media (min-width: 4800px) {
  .track {
    width: 4%;
  }
}
@media (min-width: 5000px) {
  .track {
    width: 3.84615%;
  }
}
@media (min-width: 5200px) {
  .track {
    width: 3.7037%;
  }
}
@media (min-width: 5400px) {
  .track {
    width: 3.57143%;
  }
}
@media (min-width: 5600px) {
  .track {
    width: 3.44828%;
  }
}
@media (min-width: 5800px) {
  .track {
    width: 3.33333%;
  }
}
@media (min-width: 6000px) {
  .track {
    width: 3.22581%;
  }
}
@media (min-width: 6200px) {
  .track {
    width: 3.125%;
  }
}
@media (min-width: 6400px) {
  .track {
    width: 3.0303%;
  }
}
@media (min-width: 6600px) {
  .track {
    width: 2.94118%;
  }
}
@media (min-width: 6800px) {
  .track {
    width: 2.85714%;
  }
}
@media (min-width: 7000px) {
  .track {
    width: 2.77778%;
  }
}
@media (min-width: 7200px) {
  .track {
    width: 2.7027%;
  }
}
@media (min-width: 7400px) {
  .track {
    width: 2.63158%;
  }
}
@media (min-width: 7600px) {
  .track {
    width: 2.5641%;
  }
}
@media (min-width: 7800px) {
  .track {
    width: 2.5%;
  }
}
@media (min-width: 8000px) {
  .track {
    width: 2.43902%;
  }
}
@media (min-width: 8200px) {
  .track {
    width: 2.38095%;
  }
}
@media (min-width: 8400px) {
  .track {
    width: 2.32558%;
  }
}
@media (min-width: 8600px) {
  .track {
    width: 2.27273%;
  }
}
@media (min-width: 8800px) {
  .track {
    width: 2.22222%;
  }
}
@media (min-width: 9000px) {
  .track {
    width: 2.17391%;
  }
}
@media (min-width: 9200px) {
  .track {
    width: 2.12766%;
  }
}
@media (min-width: 9400px) {
  .track {
    width: 2.08333%;
  }
}
@media (min-width: 9600px) {
  .track {
    width: 2.04082%;
  }
}
@media (min-width: 9800px) {
  .track {
    width: 2%;
  }
}
@media (min-width: 10000px) {
  .track {
    width: 1.96078%;
  }
}